## MEU PRIMEIRO MODELO DE MACHINE LEARNING NO SPARK

In [57]:
#Instalar o java

!apt-get install openjdk-8-jdk-headless -qq > /dev/null

In [58]:
#baixar a versão mais recente do spark
!wget -q https://downloads.apache.org/spark/spark-3.1.2/spark-3.1.2-bin-hadoop2.7.tgz

In [ ]:
#Dezipar o spark
!tar xf /content/spark-3.1.2-bin-hadoop2.7.tgz

In [ ]:
#Criar as variáveis de ambiente

import os

os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"

os.environ["SPARK_HOME"] = "/content/spark-3.1.2-bin-hadoop2.7"

In [ ]:
# Instalar a lib findspark que ajuda a localizar o Spark no sistema e importá-lo como uma lib regular

!pip install -q findspark

In [ ]:
# Importar a lib findspark

import findspark

findspark.init()

In [ ]:
# Criar Spark Session

from pyspark.sql import  SparkSession

spark = SparkSession.builder\
        .master('local')\
        .appName('sparkcolab')\
        .getOrCreate()

In [26]:
from google.colab import files

uploaded = files.upload()

for fn in uploaded.keys():
  print('User uploaded file "{name}" with length {length} bytes'.format(
      name=fn, length=len(uploaded[fn])))

Saving Desafio1_imoveis.csv to Desafio1_imoveis.csv
User uploaded file "Desafio1_imoveis.csv" with length 368 bytes

In [27]:
from google.colab import files

uploaded = files.upload()

for fn in uploaded.keys():
  print('User uploaded file "{name}" with length {length} bytes'.format(
      name=fn, length=len(uploaded[fn])))

Saving Desafio1_nome_bairros.csv to Desafio1_nome_bairros.csv
User uploaded file "Desafio1_nome_bairros.csv" with length 117 bytes

In [28]:
from google.colab import files

uploaded = files.upload()

for fn in uploaded.keys():
  print('User uploaded file "{name}" with length {length} bytes'.format(
      name=fn, length=len(uploaded[fn])))

Saving Desafio2_input.csv to Desafio2_input.csv
User uploaded file "Desafio2_input.csv" with length 26608 bytes

In [29]:
#Criar Dataframe

df1 = spark.read.csv('Desafio1_imoveis.csv', sep=';',header=True, inferSchema=True)

In [30]:
df1.printSchema()

root
 |-- ID_IMOVEL: integer (nullable = true)
 |-- ID_BAIRRO: integer (nullable = true)
 |-- AREA_m2: integer (nullable = true)
 |-- PRECO: integer (nullable = true)

In [31]:
df2 = spark.read.csv('Desafio1_nome_bairros.csv', sep=';', header=True, inferSchema=True)

df2.printSchema()

root
 |-- ID_BAIRRO: integer (nullable = true)
 |-- NOME_BAIRRO: string (nullable = true)
 |-- ATUACAO: string (nullable = true)

In [32]:
df3 = spark.read.csv('Desafio2_input.csv', sep=';', header=True, inferSchema=True)

df3.printSchema()

root
 |-- Id: integer (nullable = true)
 |-- Zona: string (nullable = true)
 |-- Area: integer (nullable = true)
 |-- Qualidade: integer (nullable = true)
 |-- AnoConstrucao: integer (nullable = true)
 |-- QualidadeAquecimento: string (nullable = true)
 |-- Banheiros: integer (nullable = true)
 |-- Quartos_t1: integer (nullable = true)
 |-- Quartos_t2: integer (nullable = true)
 |-- Comodos: integer (nullable = true)
 |-- Lareiras: integer (nullable = true)
 |-- Garagem: integer (nullable = true)
 |-- Preco: integer (nullable = true)

In [33]:
df3.show()

+---+----+-----+---------+-------------+--------------------+---------+----------+----------+-------+--------+-------+------+
| Id|Zona| Area|Qualidade|AnoConstrucao|QualidadeAquecimento|Banheiros|Quartos_t1|Quartos_t2|Comodos|Lareiras|Garagem| Preco|
+---+----+-----+---------+-------------+--------------------+---------+----------+----------+-------+--------+-------+------+
|  1|  RL| 9600|        6|         1976|                  Ex|        2|         3|         4|      6|       1|      2|181500|
|  2|  RL|14115|        5|         1993|                  Ex|        1|         1|         2|      5|       0|      2|143000|
|  3|  RL|11200|        5|         1965|                  Ex|        1|         3|         4|      5|       0|      1|129500|
|  4|  RL|12968|        5|         1962|                  TA|        1|         2|         3|      4|       0|      1|144000|
|  5|  RL|10920|        6|         1960|                  TA|        1|         2|         3|      5|       1|      1|157000|
|  6|  RL|11241|        6|         1970|                  Ex|        1|         2|         3|      5|       1|      2|149000|
|  7|  RL|13695|        5|         2004|                  Ex|        1|         3|         4|      6|       0|      2|159000|
|  8|  RL| 7560|        5|         1958|                  TA|        1|         3|         4|      6|       0|      1|139000|
|  9|  RM| 4224|        5|         1976|                  TA|        1|         3|         4|      6|       1|      2|129900|
| 10|  RL| 8246|        5|         1968|                  Ex|        1|         3|         4|      6|       1|      1|154000|
| 11|  RL| 7200|        5|         1951|                  TA|        1|         3|         4|      5|       0|      2|134800|
| 12|  RL| 8544|        5|         1966|                  Gd|        1|         3|         4|      6|       0|      1|149350|
| 13|  RL|11049|        8|         2007|                  Ex|        2|         3|         4|      7|       0|      2|179900|
| 14|  RL|10859|        5|         1994|                  Ex|        1|         3|         4|      6|       0|      2|145000|
| 15|  RL| 8532|        5|         1954|                  Gd|        1|         3|         4|      5|       1|      2|153000|
| 16|  RL| 7922|        5|         1953|                  TA|        1|         3|         4|      5|       0|      1|109000|
| 17|  RL| 8658|        6|         1965|                  Ex|        2|         3|         4|      6|       1|      2|160000|
| 18|  RL|16905|        5|         1959|                  Gd|        1|         2|         3|      5|       2|      1|170000|
| 19|  RL| 9180|        5|         1983|                  Gd|        1|         2|         3|      5|       0|      2|144000|
| 20|  RL| 9200|        5|         1975|                  TA|        1|         3|         4|      5|       0|      1|130250|
+---+----+-----+---------+-------------+--------------------+---------+----------+----------+-------+--------+-------+------+
only showing top 20 rows

In [34]:
#Pegar o máximo

from pyspark.sql.functions import * 

df_max = df3.agg(max('Area').alias('Area_max')).show()

+--------+
|Area_max|
+--------+
|   19900|
+--------+

In [35]:
df_max_Area = df3.filter(df3.Area == 19900)
df_max_Area.show()

+---+----+-----+---------+-------------+--------------------+---------+----------+----------+-------+--------+-------+------+
| Id|Zona| Area|Qualidade|AnoConstrucao|QualidadeAquecimento|Banheiros|Quartos_t1|Quartos_t2|Comodos|Lareiras|Garagem| Preco|
+---+----+-----+---------+-------------+--------------------+---------+----------+----------+-------+--------+-------+------+
| 29|  RL|19900|        7|         1970|                  TA|        2|         3|         4|      7|       1|      2|180000|
+---+----+-----+---------+-------------+--------------------+---------+----------+----------+-------+--------+-------+------+

In [36]:
#Contar Preço

df_sum = df3.groupBy('Preco').count()
df_sum.show(truncate=False)

+------+-----+
|Preco |count|
+------+-----+
|113000|3    |
|135000|9    |
|117500|1    |
|85000 |1    |
|145000|8    |
|149900|4    |
|134800|1    |
|143900|1    |
|82500 |3    |
|146000|2    |
|91000 |1    |
|169000|2    |
|105500|1    |
|130000|8    |
|136000|1    |
|153000|3    |
|187100|1    |
|116500|1    |
|178900|1    |
|126500|1    |
+------+-----+
only showing top 20 rows

In [37]:
#Ordenar a contagem do preço

df_sum.orderBy(col('count').desc()).show()

+------+-----+
| Preco|count|
+------+-----+
|140000|   15|
|155000|   10|
|180000|    9|
|190000|    9|
|135000|    9|
|145000|    8|
|139000|    8|
|130000|    8|
|147000|    8|
|110000|    8|
|148000|    7|
|143000|    7|
|129000|    7|
|175000|    7|
|115000|    6|
|125000|    6|
|160000|    6|
|144000|    6|
|173000|    6|
|141000|    6|
+------+-----+
only showing top 20 rows

In [38]:
#In

df3.select('Area', 'AnoConstrucao', 'Banheiros', 'Garagem', 'QualidadeAquecimento', 'Preco').filter(df3.QualidadeAquecimento.isin('Ex', 'TA')).show()

+-----+-------------+---------+-------+--------------------+------+
| Area|AnoConstrucao|Banheiros|Garagem|QualidadeAquecimento| Preco|
+-----+-------------+---------+-------+--------------------+------+
| 9600|         1976|        2|      2|                  Ex|181500|
|14115|         1993|        1|      2|                  Ex|143000|
|11200|         1965|        1|      1|                  Ex|129500|
|12968|         1962|        1|      1|                  TA|144000|
|10920|         1960|        1|      1|                  TA|157000|
|11241|         1970|        1|      2|                  Ex|149000|
|13695|         2004|        1|      2|                  Ex|159000|
| 7560|         1958|        1|      1|                  TA|139000|
| 4224|         1976|        1|      2|                  TA|129900|
| 8246|         1968|        1|      1|                  Ex|154000|
| 7200|         1951|        1|      2|                  TA|134800|
|11049|         2007|        2|      2|                  Ex|179900|
|10859|         1994|        1|      2|                  Ex|145000|
| 7922|         1953|        1|      1|                  TA|109000|
| 8658|         1965|        2|      2|                  Ex|160000|
| 9200|         1975|        1|      1|                  TA|130250|
| 7945|         1959|        1|      1|                  Ex|141000|
| 7742|         1966|        1|      1|                  Ex|127000|
| 7134|         1955|        1|      2|                  TA|130000|
|11645|         2004|        2|      2|                  Ex|196500|
+-----+-------------+---------+-------+--------------------+------+
only showing top 20 rows

In [39]:
#In Not

df3_features = df3.select('Area', 'AnoConstrucao', 'Banheiros', 'Garagem', 'QualidadeAquecimento', 'Preco').filter(~df3.QualidadeAquecimento.isin('Ex', 'TA')).show()

+-----+-------------+---------+-------+--------------------+------+
| Area|AnoConstrucao|Banheiros|Garagem|QualidadeAquecimento| Preco|
+-----+-------------+---------+-------+--------------------+------+
| 8544|         1966|        1|      1|                  Gd|149350|
| 8532|         1954|        1|      2|                  Gd|153000|
|16905|         1959|        1|      1|                  Gd|170000|
| 9180|         1983|        1|      2|                  Gd|144000|
|13869|         1997|        2|      2|                  Gd|177000|
|10175|         1964|        2|      2|                  Gd|180500|
|10141|         1998|        2|      2|                  Gd|185000|
|10200|         1954|        1|      2|                  Gd|144900|
| 8892|         1960|        1|      2|                  Gd|126500|
| 8530|         1995|        2|      2|                  Gd|168500|
| 9765|         1993|        2|      2|                  Gd|185000|
| 9320|         1959|        1|      0|                  Fa|128950|
| 8536|         2006|        1|      2|                  Gd|155000|
| 9464|         1958|        1|      1|                  Gd|136000|
| 7388|         1959|        1|      2|                  Gd|150750|
|10335|         1968|        2|      2|                  Gd|180000|
|10400|         1970|        2|      2|                  Gd|174000|
|10500|         1971|        1|      2|                  Gd| 97000|
| 3880|         1945|        1|      0|                  Gd|110500|
|12702|         1956|        1|      1|                  Gd| 97000|
+-----+-------------+---------+-------+--------------------+------+
only showing top 20 rows

In [40]:
#Juntar Dataframes no Spark df1 e df2
df2.show()

+---------+-------------+-------+
|ID_BAIRRO|  NOME_BAIRRO|ATUACAO|
+---------+-------------+-------+
|        1|   Itaim Bibi|      S|
|        2| Vila Olimpia|      N|
|        3|    Pinheiros|      S|
|        4|Vila Madalena|      N|
|        5| Vila Mariana|      N|
+---------+-------------+-------+

In [41]:
#Juntar Dados

df4 = df1.join(df2, df1.ID_BAIRRO == df2.ID_BAIRRO, 'inner').show(truncate=False)

+---------+---------+-------+-------+---------+------------+-------+
|ID_IMOVEL|ID_BAIRRO|AREA_m2|PRECO  |ID_BAIRRO|NOME_BAIRRO |ATUACAO|
+---------+---------+-------+-------+---------+------------+-------+
|1        |1        |126    |827600 |1        |Itaim Bibi  |S      |
|2        |2        |129    |1111246|2        |Vila Olimpia|N      |
|3        |3        |92     |762763 |3        |Pinheiros   |S      |
|4        |1        |96     |748262 |1        |Itaim Bibi  |S      |
|5        |2        |116    |841057 |2        |Vila Olimpia|N      |
|6        |3        |99     |658592 |3        |Pinheiros   |S      |
|7        |3        |104    |1022486|3        |Pinheiros   |S      |
|8        |3        |141    |950101 |3        |Pinheiros   |S      |
|9        |2        |101    |1159807|2        |Vila Olimpia|N      |
|10       |1        |140    |1176378|1        |Itaim Bibi  |S      |
|11       |1        |121    |861442 |1        |Itaim Bibi  |S      |
|12       |1        |142    |1134910|1        |Itaim Bibi  |S      |
|13       |3        |61     |1000850|3        |Pinheiros   |S      |
|14       |1        |66     |762721 |1        |Itaim Bibi  |S      |
|15       |1        |90     |1187119|1        |Itaim Bibi  |S      |
|16       |2        |119    |1062869|2        |Vila Olimpia|N      |
|17       |2        |100    |902953 |2        |Vila Olimpia|N      |
|18       |2        |101    |971834 |2        |Vila Olimpia|N      |
|19       |3        |110    |875982 |3        |Pinheiros   |S      |
|20       |2        |143    |718857 |2        |Vila Olimpia|N      |
+---------+---------+-------+-------+---------+------------+-------+

In [42]:
#Juntar Dados

df4 = df1.join(df2, df1.ID_BAIRRO == df2.ID_BAIRRO, 'inner')
df4.show()

+---------+---------+-------+-------+---------+------------+-------+
|ID_IMOVEL|ID_BAIRRO|AREA_m2|  PRECO|ID_BAIRRO| NOME_BAIRRO|ATUACAO|
+---------+---------+-------+-------+---------+------------+-------+
|        1|        1|    126| 827600|        1|  Itaim Bibi|      S|
|        2|        2|    129|1111246|        2|Vila Olimpia|      N|
|        3|        3|     92| 762763|        3|   Pinheiros|      S|
|        4|        1|     96| 748262|        1|  Itaim Bibi|      S|
|        5|        2|    116| 841057|        2|Vila Olimpia|      N|
|        6|        3|     99| 658592|        3|   Pinheiros|      S|
|        7|        3|    104|1022486|        3|   Pinheiros|      S|
|        8|        3|    141| 950101|        3|   Pinheiros|      S|
|        9|        2|    101|1159807|        2|Vila Olimpia|      N|
|       10|        1|    140|1176378|        1|  Itaim Bibi|      S|
|       11|        1|    121| 861442|        1|  Itaim Bibi|      S|
|       12|        1|    142|1134910|        1|  Itaim Bibi|      S|
|       13|        3|     61|1000850|        3|   Pinheiros|      S|
|       14|        1|     66| 762721|        1|  Itaim Bibi|      S|
|       15|        1|     90|1187119|        1|  Itaim Bibi|      S|
|       16|        2|    119|1062869|        2|Vila Olimpia|      N|
|       17|        2|    100| 902953|        2|Vila Olimpia|      N|
|       18|        2|    101| 971834|        2|Vila Olimpia|      N|
|       19|        3|    110| 875982|        3|   Pinheiros|      S|
|       20|        2|    143| 718857|        2|Vila Olimpia|      N|
+---------+---------+-------+-------+---------+------------+-------+

In [43]:
df4.describe().show()

+-------+-----------------+------------------+------------------+------------------+------------------+------------+-------+
|summary|        ID_IMOVEL|         ID_BAIRRO|           AREA_m2|             PRECO|         ID_BAIRRO| NOME_BAIRRO|ATUACAO|
+-------+-----------------+------------------+------------------+------------------+------------------+------------+-------+
|  count|               20|                20|                20|                20|                20|          20|     20|
|   mean|             10.5|              1.95|            109.85|         936891.45|              1.95|        null|   null|
| stddev|5.916079783099616|0.8255779474818966|23.513210172827932|165571.22359544277|0.8255779474818966|        null|   null|
|    min|                1|                 1|                61|            658592|                 1|  Itaim Bibi|      N|
|    max|               20|                 3|               143|           1187119|                 3|Vila Olimpia|      S|
+-------+-----------------+------------------+------------------+------------------+------------------+------------+-------+

In [44]:
df_model = df3.select('Preco', 'Area', 'Qualidade', 'AnoConstrucao', 'Banheiros', 'Quartos_t1', 'Quartos_t2', 'Comodos', 'Lareiras', 'Garagem')
df_model.show()

+------+-----+---------+-------------+---------+----------+----------+-------+--------+-------+
| Preco| Area|Qualidade|AnoConstrucao|Banheiros|Quartos_t1|Quartos_t2|Comodos|Lareiras|Garagem|
+------+-----+---------+-------------+---------+----------+----------+-------+--------+-------+
|181500| 9600|        6|         1976|        2|         3|         4|      6|       1|      2|
|143000|14115|        5|         1993|        1|         1|         2|      5|       0|      2|
|129500|11200|        5|         1965|        1|         3|         4|      5|       0|      1|
|144000|12968|        5|         1962|        1|         2|         3|      4|       0|      1|
|157000|10920|        6|         1960|        1|         2|         3|      5|       1|      1|
|149000|11241|        6|         1970|        1|         2|         3|      5|       1|      2|
|159000|13695|        5|         2004|        1|         3|         4|      6|       0|      2|
|139000| 7560|        5|         1958|        1|         3|         4|      6|       0|      1|
|129900| 4224|        5|         1976|        1|         3|         4|      6|       1|      2|
|154000| 8246|        5|         1968|        1|         3|         4|      6|       1|      1|
|134800| 7200|        5|         1951|        1|         3|         4|      5|       0|      2|
|149350| 8544|        5|         1966|        1|         3|         4|      6|       0|      1|
|179900|11049|        8|         2007|        2|         3|         4|      7|       0|      2|
|145000|10859|        5|         1994|        1|         3|         4|      6|       0|      2|
|153000| 8532|        5|         1954|        1|         3|         4|      5|       1|      2|
|109000| 7922|        5|         1953|        1|         3|         4|      5|       0|      1|
|160000| 8658|        6|         1965|        2|         3|         4|      6|       1|      2|
|170000|16905|        5|         1959|        1|         2|         3|      5|       2|      1|
|144000| 9180|        5|         1983|        1|         2|         3|      5|       0|      2|
|130250| 9200|        5|         1975|        1|         3|         4|      5|       0|      1|
+------+-----+---------+-------------+---------+----------+----------+-------+--------+-------+
only showing top 20 rows

In [45]:
from pyspark.ml import Pipeline
from pyspark.ml.feature import HashingTF, Tokenizer
from pyspark.sql import Row
from pyspark.sql.functions import UserDefinedFunction
from pyspark.sql.types import *

In [46]:
# Import `DenseVector`
from pyspark.ml.linalg import DenseVector

# Define the `input_data` 
input_data = df_model.rdd.map(lambda x: (x[0], DenseVector(x[1:])))

# Replace `df` with the new DataFrame
df = spark.createDataFrame(input_data, ["label", "features"])

In [47]:
df.show()

+------+--------------------+
| label|            features|
+------+--------------------+
|181500|[9600.0,6.0,1976....|
|143000|[14115.0,5.0,1993...|
|129500|[11200.0,5.0,1965...|
|144000|[12968.0,5.0,1962...|
|157000|[10920.0,6.0,1960...|
|149000|[11241.0,6.0,1970...|
|159000|[13695.0,5.0,2004...|
|139000|[7560.0,5.0,1958....|
|129900|[4224.0,5.0,1976....|
|154000|[8246.0,5.0,1968....|
|134800|[7200.0,5.0,1951....|
|149350|[8544.0,5.0,1966....|
|179900|[11049.0,8.0,2007...|
|145000|[10859.0,5.0,1994...|
|153000|[8532.0,5.0,1954....|
|109000|[7922.0,5.0,1953....|
|160000|[8658.0,6.0,1965....|
|170000|[16905.0,5.0,1959...|
|144000|[9180.0,5.0,1983....|
|130250|[9200.0,5.0,1975....|
+------+--------------------+
only showing top 20 rows

In [48]:
# Import `StandardScaler` 
from pyspark.ml.feature import StandardScaler

# Initialize the `standardScaler`
standardScaler = StandardScaler(inputCol="features", outputCol="features_scaled")

# Fit the DataFrame to the scaler
scaler = standardScaler.fit(df)

# Transform the data in `df` with the scaler
scaled_df = scaler.transform(df)

# Inspect the result
scaled_df.take(2)

[Row(label=181500, features=DenseVector([9600.0, 6.0, 1976.0, 2.0, 3.0, 4.0, 6.0, 1.0, 2.0]), features_scaled=DenseVector([2.8925, 6.7208, 102.9706, 4.1382, 5.4434, 7.2578, 5.7696, 1.6629, 3.4603])),
 Row(label=143000, features=DenseVector([14115.0, 5.0, 1993.0, 1.0, 1.0, 2.0, 5.0, 0.0, 2.0]), features_scaled=DenseVector([4.2529, 5.6007, 103.8565, 2.0691, 1.8145, 3.6289, 4.808, 0.0, 3.4603]))]

In [49]:
# Machine Learning Begins

# Split the data into train and test sets
train_data, test_data = scaled_df.randomSplit([.75,.25],seed=1234)

In [50]:
# Import `LinearRegression`
from pyspark.ml.regression import LinearRegression

# Initialize `lr`
lr = LinearRegression(labelCol="label", maxIter=10)

# Fit the data to the model
linearModel = lr.fit(train_data)

In [51]:
# Generate predictions
predicted = linearModel.transform(test_data)

# Extract the predictions and the "known" correct labels
predictions = predicted.select("prediction").rdd.map(lambda x: x[0])
labels = predicted.select("label").rdd.map(lambda x: x[0])

# Zip `predictions` and `labels` into a list
predictionAndLabel = predictions.zip(labels).collect()

# Print out first 5 instances of `predictionAndLabel` 
predictionAndLabel[:5]

[(96012.94633009855, 80000),
 (91366.34388795786, 82500),
 (116807.94100318057, 93000),
 (101719.8671006558, 97000),
 (127303.58191761095, 97000)]

In [52]:
# Coefficients for the model
linearModel.coefficients

DenseVector([2.32, 8868.0536, 347.795, 7789.6758, -558.7562, -558.7562, 3995.879, 5850.3354, 8578.5443])

In [53]:
# Intercept for the model
linearModel.intercept

-656169.0040803299

In [54]:
# Get the RMSE
linearModel.summary.rootMeanSquaredError

15428.336480623879

In [55]:
# Get the R2
linearModel.summary.r2

0.700599598903235